.App {
  text-align: center;
  background-color: rgb(55, 106, 153);
}

.Cat-Form {
  top: 0;
  background-color: rgb(63, 63, 63);
  font-size: 25px;
}

.job-form {
  display:inline-block;
}

.Category-Container {
  display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    border: 1px solid black; 
}

.CatBox {
  color: white;
  background-color: rgb(63, 63, 63);
  border-radius: 25px;
  margin: 10px; 
  border: 1px solid rgb(63, 63, 63);
}

.job {
  border-radius: 25px;
  border-style: outset;
  border-width: 2px;
  border: 1px solid rgb(63, 63, 63);
  margin: 10px; 
  border-color: rgb(0, 0, 0);
}

.job-child {
  display: inline-block;
}








